* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(27, 26, 26);
}

.header {
    max-width: 100%;
    max-height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    margin: 20px;
    padding: 5px;
    background-color: rgb(82, 78, 78);
    border-radius: 10px;
}

.logocontainer {
    padding: 10px;
    background-color: tomato;
    border-radius: 10px;
}

.barradepesquisa {
    width: 50%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid rgb(82, 78, 78);
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(27, 26, 26);
}

.pesquisar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
}

.menu2 {
    display: flex;
    margin: 5px;
    gap: 10px;
}

.notificacoes {
    margin: 5px;
    padding: 5px;
    background-color: rgb(82, 78, 78);
    border-radius: 10px;
}

.perfil {
    margin: 5px;
    padding: 5px;
    background-color: rgb(82, 78, 78);
    border-radius: 10px;
}

.main {
    max-width: 100%;
    max-height: 100%;
    display: flex;
}

.principal {
    display: flex;
}

.content {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 3%;
}

.video h1{
    display: flex;
    color: white;
}

.thumb {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.infos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pfp {
    width: 35%;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
}

.descricao {
    display: flex;
    align-items: center;
}

.canalinfos {
    display: flex;
    width: 20%;
    cursor: pointer;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
    margin-bottom: 50px;
}

.botoes {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    align-items: center;
}

.btn {
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(82, 78, 78);
    cursor: pointer;
}

.comentarios {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comentarios img {
    width: 4%;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
}

.barradecomentar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.comentar {
    width: 96%;
    background-color: rgb(27, 26, 26);
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.botoescomentarios {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.btncancel {
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(82, 78, 78);
    cursor: pointer;
}

.btncomentar {
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(82, 78, 78);
    cursor: pointer;
}

.recomendações {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top: 3%;
    gap: 20px;
}

.validationcontainer {
    width: 100%;
    height: auto;
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.imgvalidation {
    width: 40%;
    border-radius: 10px;
}

.titulovalidation {
    font-size: 130%;
}

.bonstemposcontainer {
    width: 100%;
    height: auto;
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.imgbonstempos {
    width: 40%;
    border-radius: 10px;
}

.titulobonstempos {
    font-size: 130%;
}
