* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(27, 26, 26);
}

.header {
    max-width: 100%;
    max-height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    margin: 5px;
    padding: 5px;
    background-color: rgb(82, 78, 78);
    border-radius: 10px;
}

.logocontainer {
    padding: 5px;
    background-color: tomato;
    border-radius: 10px;
}

.barradepesquisa {
    width: 50%;
    display: flex;
    align-items: flex-start;
    border: 1px solid rgb(82, 78, 78);
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(27, 26, 26);
}

.pesquisar {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
}

.menu2 {
    display: flex;
    margin: 5px;
    gap: 10px;
}

.notificacoes {
    margin: 5px;
    padding: 5px;
    background-color: rgb(82, 78, 78);
    border-radius: 10px;
}

.perfil {
    margin: 5px;
    padding: 5px;
    background-color: rgb(82, 78, 78);
    border-radius: 10px;
}

.main {
    max-width: 100%;
    max-height: 70%;
    display: flex;
}

.video {
    margin: 3%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.video h1{
    display: flex;
    color: white;
}

.thumb {
    width: 60%;
    height: auto;
    border-radius: 20px;
}

.infos {
    display: flex;
    gap: 5px;
    align-items: center;
}

.pfp {
    width: 6%;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
}

.canalinfos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    cursor: pointer;
}

.botoes {
    width: 38%;
    gap: 20px;
    display: flex;
    justify-content: flex-end;
}

.btn {
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(82, 78, 78);
    cursor: pointer;
}

